name: ARM Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # These should match arm/dev/Makefile
      TC_VER: 15.2.rel1
      TC_DIR: ${{ github.workspace }}/toolchain/arm-none-eabi-15.2.rel1
      CROSS: arm-none-eabi-
    steps:
      - uses: actions/checkout@v4

      - name: Cache Toolchain Installation
        id: cache-toolchain
        uses: actions/cache@v4
        with:
          path: ${{ env.TC_DIR }}
          key: ${{ runner.os }}-${{ env.CROSS }}-${{ env.TC_VER }}

      - name: Install ARM GNU Toolchain
        if: steps.cache-toolchain.outputs.cache-hit != 'true'
        run: cd arm/dev && make toolchain

      - name: Build RA4M1
        run: cd arm/mcu/ra4m1 && make all

      - name: Build LM4F120
        run: cd arm/mcu/lm4f120 && make all
